MONGODB_DNS_SERVERS=8.8.8.8,1.1.1.1
NEXTAUTH_URL=http://localhost:3000
CLOUDINARY_CLOUD_NAME=dx0axpjyr
CLOUDINARY_API_KEY=999788271325727
CLOUDINARY_API_SECRET=qNSh1bsJaoppgPN1Q24P4QEjBas


MONGODB_URI=mongodb+srv://shahriarsgr_db_user:97xREEoMhcPZRegE@ecblightforce.nnbrof1.mongodb.net/?appName=ecbLightforce
NEXTAUTH_SECRET=br8FYHJRP75bUqS6HR7WSKalXdgy4FvipR5yyLP8coWXZMDpmdq9PAFpYxvtaeOv
